.support-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.support-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .btn {
  width: 99px;
  height: 88px;
  border:1px solid red;
}